body {
  font-family: 'Source Code Pro', monospace;
  margin:0;
}

h1 {
  padding: 5px;
  font-size: 19px;
}

img {
  background: white;
  padding: 5px;
  border-radius: 100%;
  border: none;
  margin: 15px;
  cursor: pointer;
}

p {

}
