.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 2%;
  margin-left: 5%;
  max-width: 90%;
  -webkit-overflow-scrolling: touch;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.option {
  border: 2px #b0b0b0 solid;
    font-family: 'Nunito', sans-serif;
  background: white;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  flex-grow: 1;
  margin: 0.5%;
  min-height: 3rem;
  height: fit-content;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
