.header {
  height: 15vh;
  background: #ffbdbd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  background: white;
  padding: 5px;
  border-radius: 100%;
  border: none;
  margin: 15px;
  cursor: pointer;
}
