.userMessage {
  background-color: #ffbdbd;
  border-radius: 15px;
  padding: 10px;
  margin-right: 4%;
  max-width: 60%;
  align-self: flex-end;
}

/* ToDo: not convinced these are the right styles */
.resourceMessage {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
}

.botMessage {
  float: left;
  margin-left: 4%;
  margin-right: 20%;
  background-color: #d3d3d3;
  border-radius: 15px;
  padding: 10px;
  min-width: 2.2rem;
  max-width: 60%;
  align-self: flex-start;
}
