.userMessage {
  background-color: #ffbdbd;
  border-radius: 15px;
  padding: 10px;
  margin: 2%;
  max-width: 60%;
}

.botMessage {
  background-color: #d3d3d3;
  border-radius: 15px;
  padding: 10px;
  min-width: 2.2rem;
  max-width: 60%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  margin-left: 5%;
}

.dotty:after {
  overflow: hidden;
  display: block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1000ms infinite;
          animation: ellipsis steps(4, end) 1000ms infinite;
  content: '...';
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 3em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 3em;
  }
}
