.userMessage {
  background-color: #ffbdbd;
  border-radius: 15px;
  padding: 10px;
  margin: 2%;
  max-width: 60%;
  align-self: flex-end;

}

/* ToDo: not convinced these are the right styles */
.resourceMessage {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0;
}

.botMessage {
  background-color: #d3d3d3;
  border-radius: 15px;
  padding: 10px;
  min-width: 2.2rem;
  max-width: 60%;
  align-self: flex-start;
  margin: 0;
  margin-left: 5%;
}

.dotty:after {
  overflow: hidden;
  display: block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 1000ms infinite;
  content: '...';
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 3em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 3em;
  }
}
