.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  margin: 2%;
  margin-left: 5%;
  max-width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.option {
  border: 2px #b0b0b0 solid;
  font-family: 'Nunito', sans-serif;
  background: white;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5%;
  min-height: 3rem;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.submit {
 margin: 0.5% auto;
 display:block;
}

.canBeSubmitted {
  background: #c0d9cbff;
}
.selected {
  background: #f4dfa4;
}
